
# Gradle
.gradle/
build/
captures/
.DS_Store
# Local configuration
local.properties

# Log files
*.log

# Android Studio
.idea/
*.iml
.cxx/
*~
.attach_pid*
*.hprof

# Built application files
*.apk
*.aab
*.ap_

# Misc
.DS_Store
/captures/
*.keystore
*build/
